---
import Layout from "../layouts/Layout.astro";


---


<Layout title="Recipe">
	<main class="flex flex-col h-screen w-screen items-center p-24 ">
		<div class=" w-3/5 space-y-10  bg-white p-10 rounded-2xl" >
			<div class="items-center flex flex-col" >
			<img src="/assets/images/image-omelette.jpeg" alt="omelette" class="rounded-2xl" >
	
			</div>
			<section>
				<h1 class="text-[30px] font-bold font-youngSerif">
					Simple Omelette Recipe 
	
				</h1>
				<p>
					An easy and quick dish, perfect for any meal. 
					This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats
				</p>
			</section>
			
			
			<section class="bg-Mypink p-5 rounded-lg " >
				<h3 class="text-headers font-bold">
					Preparation time
				</h3>
				<ul class="space-y-2 list-disc p-5">
					<li><strong class="pr-2">Total:</strong>Approximately 10 minutes </li>
					<li><strong class="pr-2">Preparation</strong>: 5 minutes</li>
					<li><strong class="pr-2">Cooking:</strong> 5 minutes</li>
				</ul>
			
			</section>
			<section class="p-5">
				<h3 class="font-youngSerif text-headers font-bold text-[24px]">
					Ingredients
				</h3>
				<ul class="list-disc p-5 space-y-2 ">
					<li>2-3 large eggs</li>
					<li>Salt, to taste</li>
					<li> Pepper, to taste</li>
					<li>1 tablespoon of butter or oil</li>
					<li> Optional fillings: cheese, diced vegetables, cooked meats, herbs</li>

				</ul>
				
			</section>
			<section class="p-5">
				<h3 class="font-youngSerif text-headers font-bold text-[24px]"> Instructions</h3>
				<ol class="list-decimal p-5 space-y-2">
					<li ><strong class="pr-2">Beat the eggs:</strong> In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. 
						You can add a tablespoon of water or milk for a fluffier texture. </li>
					<li><strong class="pr-2">Heat the pan:</strong>Place a non-stick frying pan over medium heat and add butter or oil.</li>
					<li><strong class="pr-2">Cook the omelette:</strong>Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly coat the surface.</li>
					<li><strong class="pr-2">Add fillings (optional):</strong>When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen fillings over one half of the omelette</li>
					<li><strong class="pr-2">Fold and serve:</strong>As the omelette continues to cook, carefully lift one edge and fold it over the fillings.Let it cook for another minute, then slide it onto a plate. </li>
					<li><strong class="pr-2">Enjoy:</strong>Serve hot, with additional salt and pepper if needed.</li>
				</ol>
			</section>
			<section class="p-5" >
				<h3 class="text-headers font-bold text-[24px] font-youngSerif" >
					Nutrition
				</h3>
			</section>
			
			<p>  The table below shows nutritional values per serving without the additional fillings.       
			</p>
			<div class="border-b-2 grid grid-cols-2 p-2  px-8">
				<p>Calories </p>
				<p class="font-bold text-headers text-[18px] ">277 kcal</p>
			</div>
			<div class="border-b-2 grid grid-cols-2 p-2 px-8">
				<p>Carbs </p>
				<p class="font-bold text-headers text-[18px]">0g</p>
			</div>
			<div class="border-b-2 grid grid-cols-2 p-2 px-8 ">
				<p>Protein </p>
				<p class="font-bold text-headers text-[18px]">20g</p>
			</div>
			<div class="border-b-2 grid grid-cols-2 p-2 px-8 ">
				<p>Fat </p>
				<p class="font-bold text-headers text-[18px]">22g</p>
			</div>
			<p>Challenge by Frontend Mentor. Coded by Your Name Here.</p>
		</div>
	
	</main>
	
</Layout>

