---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Recipe'>
  <main class='flex flex-col h-screen items-center sm:p-10 w-full p-5'>
    <div class='w-full sm:w-3/5 space-y-10 bg-white sm:p-10 p-4 rounded-2xl'>
      <div class='items-center flex flex-col'>
        <img
          src='/assets/images/image-omelette.jpeg'
          alt='omelette'
          class='rounded-2xl'
        />
      </div>
      <section>
        <h1 class='sm:text-[30px] font-bold font-youngSerif text-[20px]'>
          Simple Omelette Recipe
        </h1>
        <p>
          An easy and quick dish, perfect for any meal. This classic omelette
          combines beaten eggs cooked to perfection, optionally filled with your
          choice of cheese, vegetables, or meats
        </p>
      </section>

      <section class='bg-Mypink rounded-lg sm:p-5 p-3'>
        <h3 class='text-headers font-bold'>Preparation time</h3>
        <ul class='space-y-2 list-disc p-4 sm:p-5 text-[14px] sm:text-[18px]'>
          <li><strong class='pr-2'>Total:</strong>Approximately 10 minutes</li>
          <li><strong class='pr-2'>Preparation</strong>: 5 minutes</li>
          <li><strong class='pr-2'>Cooking:</strong> 5 minutes</li>
        </ul>
      </section>
      <section class='p-2 sm:p-5'>
        <h3
          class='font-youngSerif text-headers font-bold text-[20px] sm:text-[24px] p-0 pb-2'>
          Ingredients
        </h3>
        <ul class='list-disc sm:pl-5 pl-4 space-y-2 text-[14px] sm:text-[18px]'>
          <li>2-3 large eggs</li>
          <li>Salt, to taste</li>
          <li>Pepper, to taste</li>
          <li>1 tablespoon of butter or oil</li>
          <li>
            Optional fillings: cheese, diced vegetables, cooked meats, herbs
          </li>
        </ul>
      </section>
      <section class='sm:p-5 p-2'>
        <h3
          class='font-youngSerif text-headers font-bold sm:text-[24px] text-[22px] pb-2 sm:pb-3'>
          Instructions
        </h3>
        <ol class='list-decimal sm:pl-5 pl-4 space-y-3 sm:space-y-2'>
          <li>
            <strong class='pr-2text-[14px] sm:text-[18px]'
              >Beat the eggs:</strong
            > In a bowl, beat the eggs with a pinch of salt and pepper until they
            are well mixed. You can add a tablespoon of water or milk for a fluffier
            texture.
          </li>
          <li>
            <strong class='pr-2 text-[14px] sm:text-[18px]'
              >Heat the pan:</strong
            >Place a non-stick frying pan over medium heat and add butter or
            oil.
          </li>
          <li>
            <strong class='pr-2 text-[14px] sm:text-[18px]'
              >Cook the omelette:</strong
            >Once the butter is melted and bubbling, pour in the eggs. Tilt the
            pan to ensure the eggs evenly coat the surface.
          </li>
          <li>
            <strong class='pr-2 text-[14px] sm:text-[18px]'
              >Add fillings (optional):</strong
            >When the eggs begin to set at the edges but are still slightly
            runny in the middle, sprinkle your chosen fillings over one half of
            the omelette
          </li>
          <li>
            <strong class='pr-2 text-[14px] sm:text-[18px]'
              >Fold and serve:</strong
            >As the omelette continues to cook, carefully lift one edge and fold
            it over the fillings.Let it cook for another minute, then slide it
            onto a plate.
          </li>
          <li>
            <strong class='pr-2 text-[14px] sm:text-[18px]'>Enjoy:</strong>Serve
            hot, with additional salt and pepper if needed.
          </li>
        </ol>
      </section>
      <section class='sm:p-5 p-0'>
        <h3
          class='font-youngSerif text-headers font-bold text-[20px] sm:text-[24px] pl-0 sm:pl-5'>
          Nutrition
        </h3>
        <p class='text-[14px] sm:text-[18px] pb-3 sm:pb-4'>
          The table below shows nutritional values per serving without the
          additional fillings.
        </p>
        <div class='border-b-2 grid grid-cols-2 sm:p-2 px-8 p-3'>
          <p>Calories</p>
          <p class='font-bold text-headers text-[14px] sm:text-[18px]'>
            277 kcal
          </p>
        </div>
        <div class='border-b-2 grid grid-cols-2 p-2 px-8'>
          <p>Carbs</p>
          <p class='font-bold text-headers text-[14px] sm:text-[18px]'>0g</p>
        </div>
        <div class='border-b-2 grid grid-cols-2 p-2 px-8'>
          <p>Protein</p>
          <p class='font-bold text-headers text-[14px] sm:text-[18px]'>20g</p>
        </div>
        <div class='border-b-2 grid grid-cols-2 p-2 px-8'>
          <p>Fat</p>
          <p class='font-bold text-headers text-[14px] sm:text-[18px]'>22g</p>
        </div>
      </section>

      <p class='text-center text-[12px] sm:text-[18px]'>
        Challenge by Frontend Mentor. Coded by Wedjat11.
      </p>
    </div>
  </main>
</Layout>
